<!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="layout-header">
            <div class="the-studio">
                <span class="bold">THEO</span><span>STUDIO</span>
            </div>
            <div class="artists">
                <span>ARTISTS</span>
            </div>
            <div class="contact">
                <span>CONTACT</span>
            </div>
            <div class="basket">
                <span>IC</span>
            </div>

        </div>
