.btn{
    background-color: #B3B3B3;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .3s ease;
    padding-top: 0;
    padding-bottom: 0;
    &:hover{
        background-color: #B3B3B3 + 30%;
    }
    &:active{
        background-color: #B3B3B3 - 30%;
    }
    &.btn-transparent{
        background-color: transparent;
        border: 1px solid #979797;
        color: #979797;
        text-align: center;
    }
}