/* Barebones fonts
 *
 * This file contains custom font imports and font stacks for different font
 * types
 */

/* Examples of font import statements
 *
 * Copy and paste outside of comment section
 *
 * Google Fonts single font face
 * @see http://www.google.com/fonts
 *
 *     @import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext);
 *
 * Google Fonts combination of font faces
 * @see http://www.google.com/fonts
 *
 *     @import url(http://fonts.googleapis.com/css?family=Roboto:400,700|PT+Serif:400,700&subset=latin,cyrillic,cyrillic-ext);
 *
 *
 *     // Example of mixin usage
 *	   @include font-face(YourAwesomeFont, '/fonts/your-awesome-font/your-awesome-font-regular');
 *     @include font-face(YourAwesomeFont, '/fonts/your-awesome-font/your-awesome-font-bold', bold);
 *     @include font-face(YourAwesomeFont, '/fonts/your-awesome-font/your-awesome-font-italic', normal, italic);
 */

/* Default font stacks
 */
// http://fontfamily.io/Helvetica_Neue,Helvetica,Arial,sans-serif
// http://fontfamily.io/Arial,Helvetica_Neue,Helvetica,sans-serif
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Cambria, Georgia, serif;
$font-monospace: Consolas, monaco, monospace;




@font-face {
  font-family: 'VisbyCF';
  src: url('../fonts/VisbyCF-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/VisbyCF-Bold.otf')  format('opentype'),
  url('../fonts/VisbyCF-Bold.woff') format('woff'), url('../fonts/VisbyCF-Bold.ttf')  format('truetype'), url('../fonts/VisbyCF-Bold.svg#VisbyCF-Bold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'VisbyCF';
  src: url('../fonts/VisbyCF-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/VisbyCF-Medium.otf')  format('opentype'),
  url('../fonts/VisbyCF-Medium.woff') format('woff'), url('../fonts/VisbyCF-Medium.ttf')  format('truetype'), url('../fonts/VisbyCF-Medium.svg#VisbyCF-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'VisbyCF';
  src: url('../fonts/VisbyCF-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/VisbyCF-Heavy.otf')  format('opentype'),
  url('../fonts/VisbyCF-Heavy.woff') format('woff'), url('../fonts/VisbyCF-Heavy.ttf')  format('truetype'), url('../fonts/VisbyCF-Heavy.svg#VisbyCF-Heavy') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'VisbyCF';
  src: url('../fonts/VisbyCF-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/VisbyCF-Light.otf')  format('opentype'),
  url('../fonts/VisbyCF-Light.woff') format('woff'), url('../fonts/VisbyCF-Light.ttf')  format('truetype'), url('../fonts/VisbyCF-Light.svg#VisbyCF-Light') format('svg');
  font-weight: 400;
  font-style: normal;
}





//ICONS


@font-face {
  font-family: "gallery";
  src:url("../fonts/gallery.eot");
  src:url("../fonts/gallery.eot?#iefix") format("embedded-opentype"),
  url("../fonts/gallery.woff") format("woff"),
  url("../fonts/gallery.ttf") format("truetype"),
  url("../fonts/gallery.svg#gallery") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gallery" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: "gallery" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-basket:before {
  content: "\61";
}
.ic-line-arrow:before {
  content: "\62";
}
@charset "UTF-8";

@font-face {
  font-family: "arrows";
  src:url("../fonts/arrows.eot");
  src:url("../fonts/arrows.eot?#iefix") format("embedded-opentype"),
  url("../fonts/arrows.woff") format("woff"),
  url("../fonts/arrows.ttf") format("truetype"),
  url("../fonts/arrows.svg#arrows") format("svg");
  font-weight: normal;
  font-style: normal;

}



[class^="ar-"]:before,
[class*=" ar-"]:before {
  font-family: "arrows" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ar-arrow-left:before {
  content: "\61";
}
.ar-arrow-right:before {
  content: "\62";
}





